.tracker-header {
  display: flex;

  justify-content: space-between;

  align-items: center;

  gap: 20px;

  flex-wrap: wrap;
}

.tracker-title {
  display: flex;

  align-items: center;

  gap: 20px;
}

.tracker-icon {
  width: 70px;

  height: 70px;

  border-radius: 18px;

  background: #eef2ff;

  display: flex;

  justify-content: center;

  align-items: center;

  font-size: 28px;

  color: #4f46e5;
}

.tracker-title h1 {
  margin: 0;

  font-size: 38px;

  font-weight: 700;

  color: #1f2937;
}

.tracker-title p {
  margin-top: 8px;

  color: #6b7280;

  font-size: 16px;
}

.tracker-add-btn {
  display: flex;

  align-items: center;

  gap: 10px;

  padding: 15px 28px;
  margin-bottom: 20px;

  background: #4f46e5;

  color: white;

  border: none;

  border-radius: 12px;

  font-size: 16px;

  font-weight: 600;

  cursor: pointer;

  transition: 0.3s;
}

.tracker-add-btn:hover {
  background: #4338ca;

  transform: translateY(-2px);

  box-shadow: 0 10px 20px rgba(79, 70, 229, 0.25);
}

@media (max-width: 768px) {
  .tracker-header {
    flex-direction: column;

    align-items: flex-start;
  }

  .tracker-title {
    align-items: flex-start;
  }

  .tracker-title h1 {
    font-size: 30px;
  }

  .tracker-add-btn {
    width: 100%;

    justify-content: center;
  }
}

@media (max-width: 480px) {
  .tracker-icon {
    width: 55px;

    height: 55px;

    font-size: 22px;
  }

  .tracker-title {
    gap: 15px;
  }

  .tracker-title h1 {
    font-size: 26px;
  }

  .tracker-title p {
    font-size: 14px;
  }
}
