.layout {
  display: flex;
  min-height: 100vh;
}

.main-content {
  flex: 1;

  /* margin-left: 260px; */

  height: 100vh;
  overflow-y: auto;

  padding: 25px;
}


/* Light Theme */

.layout.light {
  background: #f5f7fb;
  color: #222;
}

.layout.light .main-content {
  background: #f5f7fb;
  color: #222;
}

/* Dark Theme */

.layout.dark {
  background: #121212;
  color: #ffffff;
}

.layout.dark .main-content {
  background: #121212;
  color: #ffffff;
}

/* Responsive */

@media (max-width: 768px) {

  .layout {
    flex-direction: column;
  }

  .main-content {
    padding: 15px;
  }

}